a {
  text-decoration: none;
}
h1 {
  color: #005f73;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 2px;
  letter-spacing: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #001219;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}
li:first-letter {
  text-transform: capitalize;
}
.newIconImage svg {
  height: 35px;
  margin: 10px;
}

.github-link {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}
.weather-app {
  font-family: "Montserrat", sans-serif;
  max-width: 560px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #005f73;
  border-radius: 5px;
  position: relative;
  border: 2 px solid #005f73;
}
.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.coloumn {
  flex-wrap: nowrap;
  white-space: nowrap;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
.col-2 {
  min-width: calc((100% / 5) - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #005f73; */
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  /* color: white; */
  border-color: #005f73;
  border: 2px solid #005f73;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature {
  display: flex;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: #001219;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  margin-left: 10px;
}
.weather-temperature span {
  position: relative;
  font-size: 16px;
  top: -32px;
  left: -5px;
}
.search-bar input {
  border-radius: 3px;
  border: 2px solid #005f73;
  width: 100%;
  height: 30px;
  padding-left: 7px;
}
.search-bar {
  width: 70%;
  outline: none;
  /* border: 1px solid #005f73; */
  border-radius: 2px;
}
.search-bar input:focus {
  outline: none;
}
.submit-button {
  width: 10%;
  margin-right: 70px;
}
.submit-button input {
  border-radius: 3px;
  border: 2px solid #005f73;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.search.form {
  margin-bottom: 20px;
}
.weather-forecast {
  margin-top: 50px;
  margin-bottom: 5px;
}
.forecast-coloumn {
  flex: 0 0 20%;
}
.weather-forecast-temperature-max {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  font-size: 14px;
  opacity: 0.6;
}
.weather-forecast-date {
  opacity: 0.6;
  font-weight: bold;
  letter-spacing: 1px;
}
#icon svg {
  height: 100px;
}
